.btn {
  background-color: #31234600;
  stroke: #9D9AA2;
  border: none;
  height: 3rem;
  width: 3rem;
  margin: 1rem;
  stroke-width: 0;
  fill: #9D9AA2;
  cursor: pointer;
}

.button-option {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
  opacity: 0;
  
  &__close{
    fill: white;
    padding: 0.7rem;
    &:hover {
      background-color: hsla(0,0%,100%,0.3);
      border-radius: 50%;
    }
  }

  &__play{
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    fill: white;
    border: 1px solid white;
    border-radius: 50%;
    &:hover {
      opacity: 0.9;
    }
  }

  &__dot {
    fill: white;
    &:hover {
      background-color: hsla(0,0%,100%,0.3);
      border-radius: 50%;
    }
  }
}


.listmusic__nav-button {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: white;
  padding-bottom: 1.6rem;
  
  // &:hover {
  //   border-bottom: 0.3rem solid #9B4DE0 ;
  // }
}

.button {
  
  &-jump-next{
    min-width: 3.6rem;
    height: 3.6rem;
    stroke-width: 0;
    cursor: pointer;
    padding: 0.5rem;
  
    fill: white;
    background-color: inherit;
    border: none;
    &:hover{  
      background-color: rgba(255, 255, 255, 0.142);
      border-radius: 50%;
    }
  }
  &-jump-start{
    min-width: 3.6rem;
    height: 3.6rem;
    stroke-width: 0;
    cursor: pointer;
    padding: 0.5rem;
  
    fill: white;
    background-color: inherit;
    border: none;
    &:hover{  
      background-color: rgba(255, 255, 255, 0.142);
      border-radius: 50%;
    }
  }

  &-pause{
    min-width: 3.6rem;
    height: 4rem;
    stroke-width: 0;
    cursor: pointer;
  
    fill: white;
    background-color: inherit;
    border: none;
    &:hover{  
      fill: $color-button-active;
    }
  }
  &-loop{
    min-width: 3.6rem;;
    height: 3.6rem;
    stroke-width: 0;
    cursor: pointer;
    padding: 0.8rem;
  
    fill: white;
    background-color: inherit;
    border: none;
    &:hover{  
      background-color: rgba(255, 255, 255, 0.142);
      border-radius: 50%;
    }
  }
  &-shuffle{
    min-width: 3.6rem;
    height: 3.6rem;
    stroke-width: 0;
    cursor: pointer;
    padding: 0.5rem;
  
    fill: white;
    background-color: inherit;
    border: none;
    &:hover{  
      background-color: rgba(255, 255, 255, 0.142);
      border-radius: 50%;
    }
  }

  &-micro{
    min-width: 3.6rem;
    height: 3.6rem;
    stroke-width: 0;
    cursor: pointer;
    padding: 0.8rem;
  
    fill: white;
    background-color: inherit;
    border: none;
    &:hover{  
      background-color: rgba(255, 255, 255, 0.142);
      border-radius: 50%;
    }
    @include respond(phone) {
      display: none;
    }
  }
  &-volume{
    min-width: 3.6rem;;
    height: 3.6rem;
    stroke-width: 0;
    cursor: pointer;
    padding: 0.8rem;
  
    fill: white;
    background-color: inherit;
    border: none;
    &:hover{  
      background-color: rgba(255, 255, 255, 0.142);
      border-radius: 50%;
    }
  }
  &-music-playlist{
    min-width: 3.6rem;
    height: 3.6rem;
    stroke-width: 0;
    cursor: pointer;
    padding: 0.8rem;
  
    fill: white;
    background-color: inherit;
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.096);
    &:hover{  
      background-color: rgba(255, 255, 255, 0.213);
    }
    @include respond(tab-port) {  //width < 900 1rem=8px
      display: none;
    }
  }
}