
.header {
  grid-column: full-start / full-end;
  grid-row: 1 / 2;

  background-color: #170F23;
  &__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: fixed;
    width: 100vw;
    height: fit-content;
    top: 0;
  }
}
