.maintcontent {
  // grid-row: 2/ 3;
  // grid-column: col-start 1 / col-end 8;
  // margin-left: 3rem;
  // margin-top: 7rem;
  // margin-right: 5rem;
  flex-grow: 1;
  background-color: $color-primary;
  // margin: 7rem 5rem 0 7rem  ;

  // width: calc(100% - 24rem);
  // min-height: 100vh;
  
  height: 70rem;
  margin: 8rem 5rem 0 5rem;


}