@import "./mixins";

.maintcontent {
  // grid-row: 2/ 3;
  // grid-column: col-start 1 / col-end 8;
  background-color: $color-primary;
  min-height: calc(100vh - 16rem);

  @include respond(big-destop) {  
    max-width: 132rem;
    margin: auto;
  }
}

.slider {
  width: 78vw;

  position: relative;
  display: flex;
  

  &__button {
    position: absolute;
    background-color: hsla(0,0%,100%,.15);
    box-shadow: 0 2px 4px 0 rgba(214, 98, 98, 0.15);
    border-radius: 50%;
    z-index: 1;
    opacity: 0.5;
     

    &:hover {
      opacity: 1;
    }
  }

  &__button-preview {
    left: 0;
    top: 50%;
    transform: translate(0, -20%);
  }

  &__button-next {
    right: 0;
    top: 50%;
    transform: translate(0, -20%);
  }

  &__slides {
    margin-top: 4rem;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    position: relative;
   
  }
  
  &__slides-slide {
    flex-shrink: 0; // item k co lai
    width: 33.3%;
    
    padding: 1rem;
    transform-origin: center center;
    scroll-snap-align: start;
    
    // transform: translate(-100%);  //js taoj slide chuyen dong. js 13.

    @include respond(tab-port){
      width: 50%;
    }
    @include respond(phone){
      width: 100%;
    }
  } 

}
.slide-img{
  width: 100%;
  border-radius: 1rem;
}
