.playercontrol {
  // grid-column: sidebar-start / full-end;
  // grid-row: 3/4;
  // border-radius: 25px;
  position: sticky;
  color: white;
  bottom: 0;
  width: 100vw;
  height: 7rem;
  border-top: 1px solid #2B2533;
  background-color: #180f24;
  text-align: center;
  justify-self: center;
  
}

