.login {
  align-self: center;

  &__img-avata{
    width: 3rem;
    height: 3rem;
    background: #dddddd;
    border-radius: 50%; 
    margin: 1rem;
  }
}


.btn {
  background-color: #31234600;
  stroke: #9D9AA2;
  border: none;
  height: 3rem;
  width: 3rem;
  margin: 1rem;
  stroke-width: 0;
  fill: #9D9AA2;
  cursor: pointer;

}

.search {
  
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  
  &__input {
    padding-left: 4rem;
    height: 4rem;
    width: 35vw;
    margin: 1rem;
    border: none;
    border-radius: 20px;
    
    background-color: #2E2739;
    color: white;
    font-size: 1.6rem;
    // z-index: 100;
    transform: translate(-6rem);
 
    
    &:focus {
      background-color: #34224F;
      color: white;
      outline: 0;
    }
    &::placeholder {
      color: #f8f9fa
    }
  }

  &__button {
    z-index: 100;
  }

 
}

