.login {
  &__img{
    border: none;
    background-color: inherit;

  }
  &__img-avata{
    width: 4rem;
    height: 4rem;
    border-radius: 50%; 
  }
}

.search {
  
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;


  
  &__input {
    padding-left: 4rem;
    height: 4rem;
    width: 35vw;
    margin: 1rem;
    border: none;
    border-radius: 20px;
    
    background-color: #2E2739;
    color: white;
    font-size: 1.6rem;
    // z-index: 100;
    transform: translate(-6rem);
 
    
    &:focus {
      background-color: #34224F;
      color: white;
      outline: 0;

    }
    &::placeholder {
      color: #f8f9fa
    }

    @include respond(phone){
      width: 30vw;
    }
  }

  &__button {
    z-index: 100;
  }
  
}