@import "./header";
@import "./base";
@import "./side-bar";
@import "./player-control";
@import "./maint-content";
@import "./search";
@import "./my-music";
@import "./button";
@import "./song-page";
@import "./mixins";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,400&display=swap'); 

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @include respond(big-destop) {  
    font-size: 75%;
  }
  @include respond(tab-land) {  //width <1200 1rem=9px
    font-size: 56.25%;
  }
  @include respond(tab-port) {  //width < 900 1rem=8px
    font-size: 50%;
  }
  @include respond(phone) { //width <600
    font-size: 50%;
  }
}

body {
  font-family: sans-serif;
}

