@import "./header";
@import "./base";
@import "./side-bar";
@import "./player-control";
@import "./maint-content";
@import "./search";
@import "./my-music";
@import "./button";
@import "./song-page";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,400&display=swap'); 

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

