@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,400&display=swap");
.logo {
  margin-top: 10rem; }

html {
  font-family: sans-serif; }

body {
  margin: 0rem;
  font-size: 62.5%; }

.search {
  border: 1rem;
  display: grid;
  grid-gap: 1rem; }

.side-bar {
  margin: 1rem; }

.logo {
  padding: 1rem; }
