@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,400&display=swap");
.header {
  background-color: #160F23;
  height: 7rem;
  position: sticky;
  top: 0;
  opacity: 1;
  display: flex;
  align-items: center;
  z-index: 100; }

.page {
  position: relative; }

.container {
  display: flex;
  background-color: #170F23;
  position: relative;
  color: white; }

.container__main {
  width: 100vw;
  padding: 0 6rem 0 6rem; }

.sidebar {
  background-color: #312644;
  position: sticky;
  top: 0;
  height: 100vh;
  min-width: 24rem;
  display: flex;
  flex-direction: column;
  line-height: 3rem;
  justify-content: flex-start; }
  .sidebar__logo-zing {
    width: 10rem;
    height: 5rem;
    margin: 2rem 3rem 2rem 3rem;
    align-self: baseline; }
  .sidebar__btn {
    font-size: 1.4rem;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .8rem 2rem .8rem 3rem;
    cursor: pointer; }
  .sidebar__btn-explore {
    fill: white;
    border: none;
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    stroke-width: 0; }
  .sidebar__btn-user {
    fill: white;
    border: none;
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    stroke-width: 0; }

span {
  color: white;
  font-size: 1.3rem;
  font-weight: 700; }

a {
  text-decoration: none; }

.playercontrol {
  position: sticky;
  color: white;
  bottom: 0;
  width: 100%;
  padding: 0 1rem 0 1rem;
  height: 9rem;
  border-top: 1px solid #2B2533;
  background-color: #180f24;
  display: flex;
  gap: 1rem;
  align-items: center; }
  .playercontrol-media {
    min-width: 30%;
    flex-shrink: 0; }
  .playercontrol-center {
    width: 40vw;
    flex-shrink: 0;
    flex-grow: 1; }
  .playercontrol-right {
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 1; }

.media {
  display: flex;
  gap: 1.5rem; }
  .media__left-img {
    width: 6rem;
    height: 6rem; }
  .media__infor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
    flex-basis: auto;
    flex-shrink: 0; }
  .media__right {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-basis: auto;
    flex-shrink: 0; }
  .media__btn-dot {
    background-color: inherit;
    width: 3.6rem;
    height: 3.6rem;
    border: none;
    fill: white; }
    .media__btn-dot:hover {
      background-color: rgba(255, 255, 255, 0.142);
      border-radius: 50%; }

.control__item {
  display: flex;
  flex-direction: column;
  gap: 1rem; }

.control__button {
  display: flex;
  gap: 1.5rem;
  justify-content: center; }

.control__time {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0; }
  .control__time > span {
    font-weight: 400; }

#seek {
  width: 80%; }

.control-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem; }
  .control-right > input {
    min-width: 3.6rem; }
  .control-right > span {
    height: 3.3rem;
    width: 0.1rem;
    background-color: #2B2533;
    margin: 0 2rem; }

.maintcontent {
  background-color: #170F23;
  min-height: 100vh; }

.slider {
  width: 100%;
  text-align: center;
  position: relative;
  display: flex; }
  .slider__button {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 2px 4px 0 rgba(214, 98, 98, 0.15);
    border-radius: 50%;
    z-index: 1;
    opacity: 0.5; }
    .slider__button:hover {
      opacity: 1; }
  .slider__button-preview {
    left: 0;
    top: 50%;
    transform: translate(0, -20%); }
  .slider__button-next {
    right: 0;
    top: 50%;
    transform: translate(0, -20%); }
  .slider__slides {
    margin-top: 4rem;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    position: relative; }
  .slider__slides-slide {
    flex-shrink: 0;
    width: 33.3%;
    transform-origin: center center;
    padding: 1rem;
    scroll-snap-align: center; }

.slide-img {
  width: 100%;
  border-radius: 1rem; }

.login__img {
  border: none;
  background-color: inherit; }

.login__img-avata {
  width: 4rem;
  height: 4rem;
  border-radius: 50%; }

.search {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .search__input {
    padding-left: 4rem;
    height: 4rem;
    width: 35vw;
    margin: 1rem;
    border: none;
    border-radius: 20px;
    background-color: #2E2739;
    color: white;
    font-size: 1.6rem;
    transform: translate(-6rem); }
    .search__input:focus {
      background-color: #34224F;
      color: white;
      outline: 0; }
    .search__input::placeholder {
      color: #f8f9fa; }
  .search__button {
    z-index: 100; }

.main-music {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem; }

.library__header {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem; }
  .library__header > h1 {
    color: white;
    font-weight: 700;
    font-size: 4rem; }
  .library__header-btn-play {
    width: 4rem;
    height: 4rem;
    padding: 0.8rem;
    border-radius: 50%;
    border: none;
    background-color: #9B4DE0;
    fill: white; }
    .library__header-btn-play:hover {
      background-color: #8427d6; }

.library__playlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem; }
  .library__playlist > div {
    display: flex;
    align-items: center;
    gap: 1rem; }
  .library__playlist > div > h2 {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem; }
  .library__playlist-btn-plus {
    width: 2.6rem;
    height: 2.6rem;
    background-color: #2E2739;
    border: none;
    border-radius: 50%;
    fill: white;
    cursor: pointer; }
  .library__playlist-btn-all {
    display: flex;
    align-items: center;
    background-color: #170F23;
    border: none;
    fill: #9D9AA2;
    cursor: pointer;
    color: #9D9AA2; }
    .library__playlist-btn-all:hover {
      fill: #8427d6;
      color: #8427d6; }
    .library__playlist-btn-all > span {
      text-transform: uppercase;
      color: inherit;
      font-size: 1.2rem; }

.library__carousel {
  display: flex; }

.item {
  display: flex;
  flex-direction: column;
  padding: 0 3rem 0 0rem;
  gap: 1rem; }
  .item__container {
    position: relative;
    overflow: hidden;
    border-radius: 1rem; }
    .item__container:hover {
      opacity: 1; }
    .item__container:hover .button-option {
      opacity: 1;
      transition: all 0.6s; }
    .item__container:hover .item__card {
      transform: scale(1.1);
      opacity: 0.6; }
  .item__card {
    transition: all 0.6s; }
    .item__card-img {
      width: 15vw;
      max-width: 18rem; }
  .item__name {
    font-size: 1.4rem;
    color: white; }
  .item__author {
    font-size: 1.4rem;
    color: #9D9AA2; }

.listmusic {
  margin-top: 5rem;
  position: relative;
  min-width: 20%; }
  .listmusic__nav {
    font-size: 2rem;
    display: flex;
    gap: 5rem;
    border-bottom: 2px solid #2F2739;
    margin-bottom: 5rem; }

.btn {
  background-color: #31234600;
  stroke: #9D9AA2;
  border: none;
  height: 3rem;
  width: 3rem;
  margin: 1rem;
  stroke-width: 0;
  fill: #9D9AA2;
  cursor: pointer; }

.button-option {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 100;
  opacity: 0; }
  .button-option__close {
    fill: white;
    padding: 0.7rem; }
    .button-option__close:hover {
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 50%; }
  .button-option__play {
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    fill: white;
    border: 1px solid white;
    border-radius: 50%; }
    .button-option__play:hover {
      opacity: 0.9; }
  .button-option__dot {
    fill: white; }
    .button-option__dot:hover {
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 50%; }

.listmusic__nav-button {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: white;
  padding-bottom: 1.6rem; }

.button-jump-next {
  min-width: 3.6rem;
  height: 3.6rem;
  stroke-width: 0;
  cursor: pointer;
  padding: 0.5rem;
  fill: white;
  background-color: inherit;
  border: none; }
  .button-jump-next:hover {
    background-color: rgba(255, 255, 255, 0.142);
    border-radius: 50%; }

.button-jump-start {
  min-width: 3.6rem;
  height: 3.6rem;
  stroke-width: 0;
  cursor: pointer;
  padding: 0.5rem;
  fill: white;
  background-color: inherit;
  border: none; }
  .button-jump-start:hover {
    background-color: rgba(255, 255, 255, 0.142);
    border-radius: 50%; }

.button-pause {
  min-width: 3.6rem;
  height: 4rem;
  stroke-width: 0;
  cursor: pointer;
  fill: white;
  background-color: inherit;
  border: none; }
  .button-pause:hover {
    fill: #9B4DE0; }

.button-loop {
  min-width: 3.6rem;
  height: 3.6rem;
  stroke-width: 0;
  cursor: pointer;
  padding: 0.8rem;
  fill: white;
  background-color: inherit;
  border: none; }
  .button-loop:hover {
    background-color: rgba(255, 255, 255, 0.142);
    border-radius: 50%; }

.button-shuffle {
  min-width: 3.6rem;
  height: 3.6rem;
  stroke-width: 0;
  cursor: pointer;
  padding: 0.5rem;
  fill: white;
  background-color: inherit;
  border: none; }
  .button-shuffle:hover {
    background-color: rgba(255, 255, 255, 0.142);
    border-radius: 50%; }

.button-micro {
  min-width: 3.6rem;
  height: 3.6rem;
  stroke-width: 0;
  cursor: pointer;
  padding: 0.8rem;
  fill: white;
  background-color: inherit;
  border: none; }
  .button-micro:hover {
    background-color: rgba(255, 255, 255, 0.142);
    border-radius: 50%; }

.button-volume {
  min-width: 3.6rem;
  height: 3.6rem;
  stroke-width: 0;
  cursor: pointer;
  padding: 0.8rem;
  fill: white;
  background-color: inherit;
  border: none; }
  .button-volume:hover {
    background-color: rgba(255, 255, 255, 0.142);
    border-radius: 50%; }

.button-music-playlist {
  min-width: 3.6rem;
  height: 3.6rem;
  stroke-width: 0;
  cursor: pointer;
  padding: 0.8rem;
  fill: white;
  background-color: inherit;
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.096); }
  .button-music-playlist:hover {
    background-color: rgba(255, 255, 255, 0.213); }

.song {
  display: flex;
  flex-direction: column;
  gap: 1rem; }
  .song-header {
    display: flex;
    padding: 1rem; }
    .song-header__text {
      color: #9D9AA2;
      font-size: 1.2rem;
      text-transform: uppercase; }
    .song-header__text-1 {
      margin-left: 3.5rem; }
  .song-main {
    display: flex;
    flex-direction: column; }
  .song__media {
    display: flex;
    padding: 1rem;
    border-top: 1px solid #2F2739;
    align-items: center; }
    .song__media:hover {
      background-color: #3A3344; }
    .song__media:hover .song__btn-play {
      opacity: 1;
      transition: all 0.3s; }
    .song__media:hover .song__img {
      opacity: 0.5;
      transition: all 0.3s; }
    .song__media-left {
      display: flex;
      gap: 1rem;
      width: 50%; }
    .song__media-mid {
      flex-grow: 1; }
    .song__media-right {
      display: flex;
      align-items: center;
      gap: 2rem; }
  .song__logo {
    width: 1.4rem;
    height: 1.4rem;
    fill: #9D9AA2;
    align-self: center;
    margin: .6rem;
    cursor: pointer; }
  .song__avata {
    position: relative;
    cursor: pointer; }
  .song__img {
    width: 4rem;
    height: 4rem; }
  .song__btn-play {
    width: 2rem;
    height: 2rem;
    fill: white;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    opacity: 0; }
  .song__infor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
    max-width: max-content;
    flex-shrink: 0; }
    .song__infor-name {
      color: white;
      font-weight: 400;
      font-size: 1.6rem; }
    .song__infor-author {
      color: #9D9AA2;
      font-weight: 400;
      font-size: 1.4rem; }
  .song__album {
    color: #9D9AA2;
    font-weight: 400;
    font-size: 1.4rem; }
  .song__btn-heart {
    width: 3.6rem;
    height: 3.6rem;
    stroke-width: 0;
    cursor: pointer;
    padding: 1rem;
    fill: #9B4DE0;
    background-color: inherit;
    border: none; }
    .song__btn-heart:hover {
      background-color: rgba(255, 255, 255, 0.142);
      border-radius: 50%; }
  .song__duration {
    color: #9D9AA2;
    font-weight: 400;
    font-size: 1.4rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: sans-serif; }
